/* General Container */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif; /* Asegúrate de que la fuente Roboto esté importada si es necesario */
  background-color: #f0f8ff; /* Fondo blanco ligeramente azul */
  overflow: hidden;
}

/* App Main Container */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que cubra toda la altura */
}

/* Form Container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  padding: 40px 20px;
  border-radius: 5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}

/* Logo */
.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: 70px;
}

/* Text */
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

/* Error Message */
.error {
  color: white !important;
  background-color: red;
  padding: 10px;
  border-radius: 1.2rem;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Input Fields */
.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 1.2rem;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button */
.button {
  padding: 12px;
  border-radius: 2rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 90%; /* Ajusta este valor según el ancho deseado */
  margin: 20px auto 0 auto; /* Centrado horizontalmente */
  display: block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
