.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff; /* Blanco ligeramente azul */
}

.card {
  width: 350px; /* Reduce el ancho para hacerlo más compacto */
  padding: 40px 20px; /* Reduce el padding interno */
  border-radius: 1.2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 60px; /* Ajusta el tamaño del logo */
  height: 60px;
}

.title {
  font-size: 20px; /* Reduce el tamaño de la fuente */
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Reduce el espacio entre los elementos */
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 14px; /* Reduce el tamaño de la fuente */
  color: #333;
  margin-bottom: 5px;
}

.input {
  padding: 10px; /* Reduce el padding interno */
  border-radius: 1.2rem;
  border: 1px solid #ccc;
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  color: #333;
}

.button {
  padding: 12px; /* Reduce el tamaño del botón */
  border-radius: 1.2rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px; /* Ajusta el tamaño de la fuente del botón */
  font-weight: 500;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.link {
  color: #007bff;
  text-decoration: none;
}
