.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff;
  padding: 2rem !important;
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

.animate-card {
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.error {
  background-color: #ff4d4f;
  color: #fff;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.input-container {
  margin-top: 1rem;
  text-align: left;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.input::placeholder {
  color: #b0b0b0; /* Color del placeholder */
  opacity: 1; /* Asegura que el placeholder sea visible */
}

.button {
  margin-top: 1.5rem;
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}

.loader-container {
  text-align: center;
  margin: 20px 0;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
